  
<div class="container Margin-Top">
  <h2><b class="czcionka">Xll Królewska</b> </h2>
                    <p><i class="czcionka">podział na grupy 12 wspólnoty na Królewskiej w Lublinie</i></p> 
                    <p> liczba wszystkich braci losowanych : <b>{{suma}}</b> <div class="progress" style="height:50px">
                      <div class="progress-bar" style="width:{{Gorliwi}}%;height:50px"><i>Procent braci gorliwych</i> <b>{{Gorliwi}}%</b></div>
                      </div>
                    </p>

  <div class="row">
          <div class="col-lg-4">
 
                  {{#if grupa1}}
                      <table class="table table-dark table-hover">
                       <thead>
                          <tr>
                            <th class="text-center Thead"><b>Grupa 1</b></th>
                          </tr>
                        </thead>
                        <tbody class="TRGROUPS">
                          {{#each grupa1}}
                          <tr class="text-center">
                              <td>{{imie}}</td>
                          </tr>
                          {{/each}}

                        </tbody>
                      </table>
                      {{/if}}
          </div>
          <div class="col-lg-4">

                  
                  {{#if grupa2}}
                      <table class="table table-dark table-hover">
                       <thead>
                          <tr>
                            <th class="text-center Thead"><b>Grupa 2</b></th>
                          </tr>
                        </thead>
                        <tbody class="TRGROUPS">
                          {{#each grupa2}}
                          <tr class="text-center">
                              <td>{{imie}}</td>
                          </tr>
                          {{/each}}

                        </tbody>
                      </table>
                      {{/if}}
          </div>
          <div class="col-lg-4">

                    
                  {{#if grupa3}}
                      <table class="table table-dark table-hover">
                       <thead>
                          <tr>
                            <th class="text-center Thead"><b>Grupa 3</b></th>
                          </tr>
                        </thead>
                        <tbody class="TRGROUPS">
                          {{#each grupa3}}
                          <tr class="text-center">
                              <td>{{imie}}</td>
                          </tr>
                          {{/each}}

                        </tbody>
                      </table>
                      {{/if}}
          </div>
          <div class="col-lg-4">
  
                  {{#if grupa4}}
                      <table class="table table-dark table-hover">
                       <thead>
                          <tr>
                            <th class="text-center Thead"><b>Grupa 4</b></th>
                          </tr>
                        </thead>
                        <tbody class="TRGROUPS">
                          {{#each grupa4}}
                          <tr class="text-center">
                              <td>{{imie}}</td>
                          </tr>
                          {{/each}}

                        </tbody>
                      </table>
                      {{/if}}
          </div>
          <div class="col-lg-4">

                  {{#if grupa5}}
                      <table class="table table-dark table-hover">
                       <thead>
                          <tr>
                            <th class="text-center Thead"><b>Grupa 5</b></th>
                          </tr>
                        </thead>
                        <tbody class="TRGROUPS">
                          {{#each grupa5}}
                          <tr class="text-center">
                              <td>{{imie}}</td>
                          </tr>
                          {{/each}}

                        </tbody>
                      </table>
                      {{/if}}
          </div>
          <div class="col-lg-4">
 
                  {{#if grupa6}}
                      <table class="table table-dark table-hover">
                       <thead>
                          <tr>
                            <th class="text-center Thead"><b>Grupa 6</b></th>
                          </tr>
                        </thead>
                        <tbody class="TRGROUPS">
                          {{#each grupa6}}
                          <tr class="text-center ">
                              <td>{{imie}}</td>
                          </tr>
                          {{/each}}

                        </tbody>
                      </table>
                      {{/if}}
          </div>
    </div>

</div>